$xs-devices: 450px;
$s-devices: 600px;
$m-devices: 768px;
$l-devices: 992px;

.contact {
    width: 100vw;
    background: rgb(7,12,35);
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  
    &__wrap-title {
      width: 80vw;
      margin: 5% 0;
    }
    &__title {
      font-size: 1.5em;
    }
  
    &__content {
      width: 100%;
      margin-bottom: 10%;
    }
  
    &__wrap-icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .wrap-icon { 
        width: 35%;
        text-align: center;
        margin: 7% 0;
        &__link {
          color: white;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
          svg {
            font-size: 3em;
          }
        }
      }
    }
  
    .footer {
      background: black;
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'RobotoCondensed-Light';
      font-size: 0.7em;
    }
}

@media screen and (min-width: $xs-devices){
  .contact {
      &__wrap-title {
        margin: 4% 0;
      }
      &__content {
        margin-bottom: 9%;
      }
      &__wrap-icons {
          .wrap-icon { 
            width: 21%
          }
      }
  }
}

@media screen and (min-width: $s-devices){
  .contact {
    &__wrap-title {
      margin: 2% 0;
    }
    &__content {
      margin-bottom: 6%;
    }
    &__wrap-icons {
      .wrap-icon { 
        width: 19%;
      }
    }
  }
}

@media screen and (min-width: $m-devices){
    .contact {
        &__wrap-title,
        &__content {
          margin: 0;
        }
        &__title { font-size: 1.8em;}
        &__wrap-icons {
            .wrap-icon { 
              width: 16%;
              margin: 6% 0;
            }
        }
    }
}

@media screen and (min-width: $l-devices){
    .contact {
        &__wrap-title {
            text-align: center;
            margin: 1% 0;
        }
        &__wrap-icons {
            .wrap-icon { 
              width: 11%;
              margin: 4% 0;
            }
        }
    }
}