$xs-devices: 450px;
$s-devices: 600px;
$m-devices: 768px;
$l-devices: 992px;

//MOBILE FIRST
.intro {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/space.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &__boxtxt {
    width: 80vw;
    height: 45vh;
    white-space: normal;
  }

  &__text {
    font-size: 1.9em;

    span {
      display: block;
    }

    .name {
      font-family: 'RobotoCondensed-Bold';
      color:#5918DF;
      font-size: 1.1em;
    }

    //Animation Skills
    .show {
        text-shadow: 5px 5px 5px #143143;
        opacity: 1;
        transition: opacity 1s ease-in;
    }
    .hide {
        opacity: 0;
    } 
  }
}

@media only screen and (min-width: $s-devices) {
  .intro {
    &__text {
      font-size: 2.4em;
    }
    
  }
}

@media only screen and (min-width: $m-devices) {
  .intro {
    &__text {
      .name { display: block;}
      span:nth-of-type(2),
      span:nth-of-type(3) {
        display: inline-block;
        margin-right: 0.3em;
      } 
    }
  }
}

@media only screen and (min-width: $l-devices) {
  .intro {
    &__text {
      font-size: 3em;
    } 
  }
}