
.intro {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/space.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  &__boxtxt {
    width: 80vw;
    margin-left: 10vw;
  }

  &__text {
    font-size: 1.6em;

    span {
      display: block;
    }

    .name {
      font-family: 'RobotoCondensed-Bold';
    }

    //Animation Skills
    .show {
        opacity: 1;
        transition: opacity 1s ease-in;
    }
    .hide {
        opacity: 0;
    }
    

  }
}