
.intro {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/space.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  &__boxtxt {
    width: 80vw;
    margin-left: 10vw;
  }

  &__text {
    font-size: 1.6em;

    span {
      display: block;
    }

    .name {
      font-family: 'RobotoCondensed-Bold';
    }

    .anim-text::before {
      white-space: nowrap;
      content: 'desarrollo front-end';
      -webkit-animation: changeTxt 16s infinite; 
      animation: changeTxt 16s infinite; 

      @-webkit-keyframes animate {
        20% { content: 'desarrollo front-end'; margin-left: 0%;}
        30% { margin-left: 110vw;}
        40% { content: 'analítica web'; margin-left: 0%;}
        50% { margin-left: 110vw;}
        60%{ content: 'marketing digital'; margin-left: 0%;}
        70%{ margin-left: 110vw;}
        80%{ content: 'prototipos'; margin-left: 0%;}
        90% { margin-left: 110vw;}
      }

      @keyframes changeTxt {
        20% { content: 'desarrollo front-end'; margin-left: 0%;}
        30% { margin-left: 110vw;}
        40% { content: 'analítica web'; margin-left: 0%;}
        50% { margin-left: 110vw;}
        60%{ content: 'marketing digital'; margin-left: 0%;}
        70%{ margin-left: 110vw;}
        80%{ content: 'prototipos'; margin-left: 0%;}
        90% { margin-left: 110vw;}
      }  
    }

  }
}