@import "./styles/FixedNavbar.scss";
@import "./styles/Intro.scss";

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
  
/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

#projects {
    width: 100vw;
    height: 100vh;
    background: #464159;
}